/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.day-search{
   size: 10px;

}
.logo-img{
    display: flex;
    margin-top: 0px;
}
.logo-img img{
    height: 30px;
}
.logo-img p{
    padding-top: 0px;
    margin-top: 7px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.header-title{
    background-color: #333;
    color: #7e4b4b;
    font-size:larger;
    font-weight: bolder;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.matchBox {
    background-color: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.matchContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time{
    color: rgb(74, 212, 74);
    text-align: center;
}

.team .img {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .img img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        font-size: 16px;
        padding: 8px;
    }

    .matchContainer {
        flex-direction: column;
        align-items: center;
    }

    .team {
        margin-bottom: 10px;
    }
}
